<!-- landing-page.component.html -->

<section class="hero is-primary mt-5">
  <div class="hero-body">
    <div class="container">
      <div class="row">
        <div class="col-md-6 p-5">
          <h1 class="title">
            Welcome to Formify
          </h1>
          <h2 class="subtitle mt-4">
            Create beautiful forms and surveys with ease
          </h2>
          <a class="btn btn-info mt-5" routerLink="/auth">
            Get Started
          </a>
        </div>
        <div class="col-md-6">
          <img src="../../assets/svg/landing.svg" alt="landing" width="80%" class="landing-image p-10">
        </div>
      </div>
    </div>
  </div>
</section>