<div class="container">
  <div class="row mt-5 ">
    <div class="col-md-12 text-center">
      <h1 class="text-center">About Page</h1>
      <p>
        This is a form to collect your information and we can show data for
        education purposes.
      </p>
      <div class="col-md-12 d-flex row">
        <div>
          <button class="btn btn-info" routerLink="/home">Home</button>
        </div>
        <a class="mt-5"routerLink="/form">Click here to access form!</a>
      </div>
     
    </div>
  </div>
</div>
